*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
}
header div{
    margin-right: 25px;
    font-size: small;
}
header div a{
    color: #000;
}
a{
    text-decoration: none;
}
header button a{
    color: #fff;
}
header div:hover{
    text-decoration: underline;
    cursor: pointer;
}
header button{
    margin-right: 15px;
    background-color: #4285f4;
    color: white;
    border: none;
    padding: 9px 15px;
}
header button:hover{
    cursor: pointer;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -100px;
    flex-direction: column;
}
input{
    width: 400px;
    height: 35px;
    border-radius: 20px;
    border: 1px solid grey;
    margin-top: 15px;
    padding: 9px 15px;
    font-size: 15px;
}
.btn button{
    padding: 9px 20px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}
footer{
    background-color: rgb(242, 242, 242);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 90px;
}
.div-1{
    display: flex;
    height:45px;
    align-items: center;
    font-size: small;
    margin-left: 5px;
    width: 50px;
}
.div-1:hover{
    cursor: pointer;
}
.line{
    border-bottom: 1px solid rgb(199, 199, 199);
}
.div-2{
    display: flex;
    justify-content: space-between;
}
.left-side{
    display: flex;
    width: 400px;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 5px;
}
.left-side a{
    color: black;
    text-decoration: none;
    font-size: small;
}
.left-side a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.right-side{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    margin-top: 15px;
    margin-left: 5px;
}
.right-side a{
    margin-right: 15px;
    color: black;
    text-decoration: none;
    font-size: small;
}
.right-side a:hover{
    text-decoration: underline;
    cursor: pointer;
}